@import url('http://fonts.googleapis.com/css?family=Open+Sans');


/*body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}*/

.gallery {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-align: center;
}

.gallery > div {
  position: relative;
  display: inline-block;
  padding: 5px;
  max-width: 15%;
  min-width: 97px;
}

.gallery > div > a img {
  width: 100%;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > a img {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

@media (min-width: @screen-sm-min) {  }

/*h1 {
  margin: 40px 0;
  font-size: 24px;
  text-align: center;
}*/